<!-- ---
layout: default
title: page
--- -->

<!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Resume &middot; Adithya
    
  </title>

  <!-- CSS
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/lanyon.css"> -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png"> -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <!-- <link rel="shortcut icon" href="/public/favicon.ico"> -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


  <body class="theme-base-08 layout-reverse ">

    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <!-- <p><a href= target="_blank">Adithya</a> Master`s in computer science with Big Data Specialization at Arizona State University. Actively looking for full time opportunities</p> -->
  </div>

  <nav class="sidebar-nav">

    

    <a href="/resume/"><h4 style="color:rgba(255,255,255); padding: .2rem 1rem;">Resume</h4></a>

    <a class="sidebar-nav-item" href="https://adithyareddych.medium.com/" , target="_blank">Medium blogs on Rails (ext link)</a>

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Deep Learning</h4>
    <a class="sidebar-nav-item" href="/ anomalous activity detection in surviellance videos/"> anomalous activity in surviellance videos</a>
    <a class="sidebar-nav-item" href="/Pronoun Resolution/"> Pronoun Resolution</a>    
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Machine Learning</h4>
    <a class="sidebar-nav-item" href="/lung disease cbir/"> lung disease cbir</a>
    <a class="sidebar-nav-item" href="/scratch-ml/"> scratch-ml </a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Image Processing</h4>
    <a class="sidebar-nav-item" href="/fake currency detection/">fake currency detection</a>
    <a class="sidebar-nav-item" href="/noise reduction/"> noise reduction </a>

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Deployed Web Development Projects</h4>
    <a class="sidebar-nav-item" href="https://www.questionticker.me" , target="_blank">Ruby on rails website (ext link)</a>
    <a class="sidebar-nav-item" href="https://csb-i83vm-qrtznfvkj.vercel.app/" , target="_blank">React Hand Cricket Game</a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">FFmpeg</h4>
    <a class="sidebar-nav-item" href="/automatic_video_editor/"> automatic_video_editor</a>

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">ML Deployment</h4>
    <a class="sidebar-nav-item" href="/robot garbage collector/"> robot garbage collector </a>
    <a class="sidebar-nav-item" href="/movie recommendation/"> movie recommendation </a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Data Visualization</h4>
    <a class="sidebar-nav-item" href="/visualization_of_sales/"> visualization_of_sales </a>
    <a class="sidebar-nav-item" href="/weather_prediction/"> weather_prediction </a>
    
    
    
      
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/%20anomalous%20activity%20detection%20in%20surviellance%20videos/"> anomalous activity detection in surviellance videos</a> -->
        
      
    
      
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/Pronoun%20Resolution/">Pronoun resolution</a> -->
        
      
    
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/automatic_video_editor/">Automating my part time video editor work</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/fake%20currency%20detection/">fake currency detection</a> -->
        
      
    
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/lung%20disease%20cbir/">Tuberculosis Image retrieval</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/movie%20recommendation/">movie recommendation!</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/noise%20reduction/">noise reduction</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item active" href="/resume/">Resume</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/robot%20garbage%20collector/">robot garbage collector</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/scratch-ml/">Machine learning algorithms from scratch!</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/visualization_of_sales/">Visualization of Sales!</a> -->
        
      
    
      
        
          <!-- <a class="sidebar-nav-item" href="/weather_prediction/">Weather prediction!</a> -->
        
      
    
  </nav>

  <div class="sidebar-item">

  </div>
</div>


    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">Adithya</a>
            <small>Data Science and ML Projects</small>
          </h3>
        </div>
      </div>


      <div class="container content">
        <div class="page">
  <h1 class="page-title">Resume</h1>
  <!-- The (first) h1 will be used as the <title> of the HTML page -->
<h1 id="sai-adithya-reddy-chinthalapani">Sai Adithya Reddy Chinthalapani</h1>

<!-- The unordered list immediately after the h1 will be formatted on a single
line. It is intended to be used for contact details -->
<ul>
  <li><a href="mailto:schinth3@asu.edu">schinth3@asu.edu</a></li>
  <li>(480) 765 1635</li>
  <li><a href="http://linkedin.com/in/adithya-reddy-ch/">linkedin.com/in/adithya-reddy-ch/</a></li>
  <li>Tempe, Az</li>
</ul>

<!-- The paragraph after the h1 and ul and before the first h2 is optional. It
is intended to be used for a short summary. -->
<p>Student from Arizona State University with a Master’s in computer science (Big Data specialization).</p>

<h2 id="education">Education</h2>

<h3 id="-arizona-state-university--2019--2021-"><span> Arizona State University </span> <span>2019 – 2021 </span></h3>

<ul>
  <li>GPA 3.51</li>
</ul>

<h3 id="-vit-university-chennai-campus--2015--2019-"><span> Vellore Institute of Technology </span> <span>2015 – 2019 </span></h3>

<ul>
  <li>GPA 8.34</li>
</ul>

<h2 id="skills">Skills</h2>

<ul>
  <li>Programming languages: Java, Python, Ruby, JavaScript, SQL, AWS, OpenCv, Scikit-Image, Scikit-learn, Keras, Pandas, Numpy, Mongoose, Ruby on Rails, React, Express, Django, MySQL, PostgreSQL, Git, unix terminal
  </li> 
  </ul>

<h2 id="Certifications-and-Apps">Certifications and Apps</h2>
<ul>
  <li>AWS Certified Solutions Architect Associate SAA-C02</li>
  <li>Developed an android game using GDevelop and Cordova plugin which got 15000 installs.</li>
</ul>

<h2 id="hackathons">Hackathons</h2>
<h3 id="Action-ML-Hackathon-Fox"><span>Action.ML Hackathon - Fox</span></h3>
<ul>
  <li>Trained the model on AWS Sagemaker by getting data from s3 bucket hosted by FOX.</li>
  <li>Experimented by finetuning models like RESNET and VGG pretrained models in Keras to classify sports scenes</li>
</ul>

<h3 id="Android-Hackathon–Dev-Savant"><span>Android Hackathon – Dev Savant</span></h3>
<ul>
  <li>Developed a quiz app for cricket enthusiasts that randomizes questions based on selected difficulty level in 24 hours.</li>
</ul>


<h2 id="experience">Experience</h2>

<!-- You have to wrap the "left" and "right" half of these headings in spans by
hand -->

<h3 id="Student-Video-Editor"><span>Global Launch, ASU : Student Video editor</span></h3>

<ul>
  <li>Produced videos by following instructions form professors and delivered them within deadlines.</li>
  <li>Developed ffmpeg scripts that automated parts of video editing and saved 100’s of hours in production time.</li>
</ul>

<h3 id="-data-scientist-intern---verticross-india-pvtlimited"><span> Data Scientist intern - Verticross India Pvt.Limited</span></h3>

<ul>
  <li>Created visualizations to find anomalies and missing data using matplotlib and plotly.</li>
  <li>Performed time series analysis and forecasting on data collected from substation meter readers using keras.</li>
  <li>Transformed data using SQL queries, psycopg2</li>
  <li>Wrote several scripts to for data simulation, to calculate performance metrics and to analyze data using numpy, scipy and pandas.</li>
</ul>

<h3 id="-android-developer-intern---grepthor-software-solutions-pvt-ltd-"><span> Android Developer Intern - Grepthor Software Solutions pvt. ltd </span></h3>
<ul>
  <li>Developed an application that connects volunteers and managers using an android application.</li>
  <li>Developed splash screen, authentication features and displayed data, images using Picasso library.</li>
  <li>Followed the material design principles for design and connected to the APIs for data using volley.</li>
</ul>

<h2 id="projects">Projects</h2>
<h3 id="-machine-learning---naive-bayes-and-knn-algorithms-from-scratch-"><a href="/scratch-ml/"><span> Machine Learning - Naive Bayes and KNN algorithms from scratch </span></a></h3>

<ul>
  <li>Implemented different versions of k-means algorithm and Naive Bayes algorithm from scratch using numpy and compared accuracy of both algorithms.</li>
</ul>


<h3 id="Scalable image classifier – Aws, Python"><span>Scalable image classifier – Aws, Python</span></a></h3>

<ul>
  <li>Deployed a deep learning classifier and front-end app on AWS using flask to classify the input image.</li>
  <li>Scaled the app by implementing custom autoscaling application using SQS, S3, EC2 in AWS.</li>
</ul>

<h3 id="deep-learning---anomalous-activity-detection-in-surveillance-videos"><a href="/ anomalous activity detection in surviellance videos/"><span>Deep Learning - Anomalous activity detection in surveillance videos</span></a></h3>

<ul>
  <li>Detected anomalous activity in videos with an accuracy of 85 % for 2 classes and 55% for 5 classes.</li>
  <li>Used FFmpeg to extract images from video data and Keras for fine-tuning deep learning models.</li>
</ul>

<h3 id="-coreference-resolution-using-bert-"><a href="/Pronoun Resolution/"><span> Coreference resolution using BERT </span></a></h3>

<ul>
  <li>Collect large amount of text data using data scraping tools and manual methods.</li>
  <li>Used novel methods to generate required data using pandas and spacy.</li>
  <li>Finetuned the huggingface transformers BERT model on collab to achieve an accuracy of 69%.</li>
</ul>

<h3 id="-robotics---garbage-collection-using-raspberry-pi-robot--"><a href="/robot garbage collector/"><span> Robotics - Garbage collection using raspberry pi robot </span> </a></h3>

<ul>
  <li>Built a garbage collection robot using robot car chassis, motors, camera and ultra sonic sensor.</li>
  <li>Scraped garbage photos data from internet using beautiful soup.</li>
  <li>Trained a garbage detection model using Keras and wrote RaspberryPi scripts to handle all the robot components and deployed the deep learning model on it.</li>
</ul>

<h3 id="-big-data---geo-spatial-data-hotspot-analysis-"><span> Big Data - Geo Spatial Data Hotspot Analysis </span></h3>

<ul>
  <li>Analyzed NYC Taxi data by implementing range and distance queries in order to identify statistically significant spatial hot spots areas using Apache spark.</li>
  <li>Reduced CPU and memory utilization by up to 50% by distributing the load across Hadoop cluster on AWS.</li>
</ul>

<h3 id="-machine-learning---gesture-recognition-using-personalized-page-rank--"><span> Machine Learning - Gesture recognition using personalized page rank  </span></h3>

<ul>
  <li>Generated files to store gesture data at different levels of abstraction using statistical features and dimensionality reduction with help of pandas, sklearn, scipy and custom functions.</li>
  <li>Visualized and analyzed the data using heatmaps and charts with libraries like matplotlib.</li>
  <li>Implemented personalized page rank and used it with generated data to recognize gestures.</li>
</ul>

<h3 id="--data-visualization---analysis-of-sales-dataset--"><a href="/visualization_of_sales/"> <span> Data Visualization - Analysis of sales dataset </span> </a></h3>

<ul>
  <li>Visualized data and uncovered patterns in the sales dataset using Tableau.</li>
  <li>Performed sentiment analysis using nltk on comments for each product to visualize the customer sentiment.</li>
</ul>

<h3 id="-image-processingml---tuberculosis-image-retrieval-"><a href="/lung disease cbir/"><span> Image Processing/ML - Tuberculosis image retrieval </span></a></h3>

<ul>
  <li>Retrieved images closest to the given medical image to aid in diagnosis. Project based on peer reviewed publication.</li>
  <li>Used feature engineering, dimensionality reduction and machine learning techniques with opencv, scikit-image and keras to achieve an accuracy of upto 60% and precision of 0.55.</li>
</ul>

<h3 id="--image-processing---noise-reduction-using-parallel-processing---"><a href="/noise reduction/"> <span> Image Processing - Noise reduction using parallel processing  </span> </a></h3>

<ul>
  <li>Implemented different noise detection and reduction techniques using opencv and C++ based on multiple peer reviewed publications to find out the best performing method.</li>
  <li>Calculated different quality estimation metrics to find the technique producing image with least noise using matlab.</li>
  <li>Improved the speed of computation using parallel processing with OpenMp in C++.</li>
</ul>

<h3 id="--ffmpeg---automated-video-title-replacement--"><a href="/automatic_video_editor/"> <span> FFMPEG - Automated video title replacement </span> </a></h3>

<ul>
  <li>Automated parts of video editing pipeline using FFMPEG at global launch to save many hours in production time.</li>
  <li>Produced result 100x faster when compared to traditional methods. </li>
</ul>

<h3 id="--machine-learning-visualization---delhi-weather-dataset--"><a href="/weather_prediction/"> <span> Machine Learning/ Visualization - Delhi weather dataset </span> </a></h3>

<ul>
  <li>Performed primary data visualization and analysis using numpy, matplotlib to understand the data and then selected relevant features based on different methods.</li>
  <li>Classified the data points between haze and fog, predicted temperatures using different machine learning and dimensionality reduction techniques using scikit-learn.</li>
</ul>

<h3 id="-image-processing---fake-currency-detection-using-matlab-"><a href="/fake currency detection/"><span> Image Processing - Fake Currency detection using MATLAB </span></a></h3>

<ul>
  <li>Implemented fake currency detection method during introduction of new currency in India.</li>
  <li>Researched multiple peer reviewed publications on different currencies to implement an effective method to detect fake currency using image from normal camera using Matlab libraries.</li>
</ul>

<h3 id="-database---distributed-database-implementation-"><span> Database - Distributed database implementation </span></h3>

<ul>
  <li>Implemented round robin and range partition using PostgreSQL and psycopg2.</li>
  <li>Implemented range and point queries.</li>
  <li>Implemented parallel sort and parallel join.</li>
</ul>

<h3 id="-database---google-like-big-table-implementation-"><span> Database - Google like Big Table Implementation </span></h3>

<ul>
  <li>Implemented low level code for Map insert, Batch insert for Bigtable and improved its efficiency using btrees.</li>
  <li>Implemented indexing, querying, row sort and row join operations on Bigtable database by modifying minibase code in Java.</li>
</ul>

<h3 id="-geo-spatial-data-hotspot-analysis-"><span> Geo Spatial Data Hotspot Analysis </span></h3>

<ul>
  <li>Analyzed NYC Taxi data by implementing range and distance queries in order to identify statistically significant spatial hot spots areas using Apache spark.</li>
  <li>Reduced CPU and memory utilization by up to 50% by distributing the load  across Hadoop cluster on AWS.</li>
</ul>

<h3 id="-machine-learning---predicting-mealno-meal-data-from-cgm-data-"><span> Machine Learning - Predicting meal/no meal data from CGM data </span></h3>

<ul>
  <li>Extracted different types of features from the given time-series readings and selected relevant features using forward, backward selection.</li>
  <li>Predicted the meal/ no-meal from the time-series data with an mean accuracy of 70% using scikit-learn, numpy and pandas.</li>
</ul>

</div>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </bodyclass="theme-base-08">
</html>

<!-- <p>Master`s in computer science with Big Data Specialization at Arizona State University. Actively looking for full time opportunities</p>
<p>Click on project links in the sidebar to view the projects</p>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{site.baseurl}}{{post.url}}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{site.baseurl}}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{site.baseurl}}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{site.baseurl}}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->

