<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <!-- <p>{{ site.description }}</p> -->
  </div>

  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
   
    <a href="/resume/"><h4 style="color:rgba(255,255,255); padding: .2rem 1rem;">Resume</h4></a>

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Cloud Computing</h4>
    <a class="sidebar-nav-item" href="/video resume creator/">Video resume creator – FFmpeg, GCP</a>
    <a class="sidebar-nav-item" href="/scalable image classifier/"> Scalable image classifier – Aws, Python</a>    

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Misc.</h4>
    <a class="sidebar-nav-item" href="https://adithyareddych.medium.com/" , target="_blank">Medium blogs on Rails (ext link)</a>
    <a class="sidebar-nav-item" href="/geospatial_hotspot_analysis">Geo Spatial Data Hotspot Analysis </a>

    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Deep Learning</h4>
    <a class="sidebar-nav-item" href="/ anomalous activity detection in surviellance videos/"> anomalous activity in surviellance videos</a>
    <a class="sidebar-nav-item" href="/Pronoun Resolution/"> Pronoun Resolution</a>    
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Machine Learning</h4>
    <a class="sidebar-nav-item" href="/lung disease cbir/"> lung disease cbir</a>
    <a class="sidebar-nav-item" href="/scratch-ml/"> scratch-ml </a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Image Processing</h4>
    <a class="sidebar-nav-item" href="/fake currency detection/">fake currency detection</a>
    <a class="sidebar-nav-item" href="/noise reduction/"> noise reduction </a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">FFmpeg</h4>
    <a class="sidebar-nav-item" href="/automatic_video_editor/"> automatic_video_editor</a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Deployed Web Development Projects</h4>
    <a class="sidebar-nav-item" href="https://www.questionticker.me" , target="_blank">Ruby on rails website (ext link)</a>
    <a class="sidebar-nav-item" href="https://csb-i83vm.netlify.app/" , target="_blank">React Hand Cricket Game</a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">ML Deployment</h4>
    <a class="sidebar-nav-item" href="/robot garbage collector/"> robot garbage collector </a>
    <a class="sidebar-nav-item" href="/movie recommendation/"> movie recommendation </a>
    
    <h4 class="sidebar-nav-item2" style="color:rgba(255,255,255,.6); padding: .2rem 1rem;">Data Visualization</h4>
    <a class="sidebar-nav-item" href="/visualization_of_sales/"> visualization_of_sales </a>
    <a class="sidebar-nav-item" href="/weather_prediction/"> weather_prediction </a>
    
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <!-- <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> -->
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">

  </div>
</div>
